<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Search for posts by tag</p>
  <p><a href='/create'>Add a new post</a></p>

  <table>
    <tr>
      <th>Post Title</th>
      <th>Tags</th>
    </tr>
    <% Post.all.each do |post| %>
    <tr>
      <td> <%= post.title %> </td>
      <td> 
        <% post.tags.each do |tag| %>
        <%= tag.name %> 
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
