<div id="stage">
  <h3><%=@post.title%></h3>
  
  <body>
      <%=@post.content%>
  </body>

  <div class="tags">

    <h4> Tagged: </h4>

    <% @post.tags.each do |tag| %>
    <a class="tag_link" href='/' title='/tags/<%=tag.id%>'>#<%= tag.name %></a> 
    <% end %>
    <br><br><br>
    <a href='/'>SHOW ME THE POSTS!</a>  
  </div>

</div>