<div class="container">
  <h3><%=@post.title%></h3>
  
  <body>
      <%=@post.content%>
  </body>

  <div class="tags">

    <h4> Tagged: </h4>

    <% @post.tags.each do |tag| %>
    <a href='/tags/<%=tag.id%>'>#<%= tag.name %></a> 
    <% end %>

  </div>
<br><br><br>
<a href='/'> Yo, home to Bel-Air!</a>
</div>

